.main-wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.activities {
    background-color: $light-grey;
    padding: 20px 10px;
}

.activities__item {
    position: relative;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #fff;
}

@media(max-width: $desktop-width) {
    .main-wrapper {
        width: 730px;
    }
}

@media(max-width: $tablet-width) {
    .main-wrapper {
        width: 100%;
    }
}
