.main-wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.activities {
    background-color: #bababa;
    padding: 20px 10px;
}

.activities-title {
    font-size: 26px;
    margin-bottom: 20px;
}

.activities__item {
    position: relative;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #fff;

    // &:before {
    //     position: absolute;
    //     top: 18px;
    //     left: 15px;
    //     content: "";
    //     width: 5px;
    //     height: 5px;
    //     border-radius: 50%;
    //     background-color: #242424;
    // }
}

@media(max-width: $desktop-width) {
    .main-wrapper {
        width: 730px;
    }
}

@media(max-width: $tablet-width) {
    .main-wrapper {
        width: 100%;
    }
}
