.button-main {
    background: transparent;
    border: 1px solid $button-color;
    color: $button-color;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    margin:  0 auto;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.2s;
    text-transform: uppercase;
    font-size: 14px;

    &:hover {
        border-color: $button-color--hover;
        color: $button-color--hover;
    }

    &:active {
        border-color: $button-color--active;
        color: $button-color--active;
    }
}
