.main-nav {
    background-color: $light-gray;
    height: $nav-height;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-nav__wrapper {
    width: 960px;
    margin: 0 auto;
    height: 100%;
    padding: 0 10px;
}

.main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    height: 100%;
}

.main-nav__link {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 100%;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 4px solid transparent;
    overflow: hidden;
    white-space: nowrap;

    &:hover {
        border-bottom-color: $header-color
    }
}

.main-nav__item--active .main-nav__link {
    border-bottom-color: $header-color;
}

@media(max-width: $desktop-width) {
    .main-nav__wrapper {
        width: 730px;
    }
}

@media(max-width: $tablet-width) {
    .main-nav__wrapper {
        width: 100%;
    }
}

@media(max-width: $w600) {
    .main-nav__list {
        display: block;
    }
}
