.main-nav {
    background-color: #eee;
    height: $nav-height;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-nav__wrapper {
    width: 960px;
    margin: 0 auto;
    height: 100%;
    padding: 0 10px;
}

.main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    height: 100%;
}

.main-nav__item {
    margin-right: 5px;

    &:last-child {
        margin-right: 0;
    }
}

.main-nav__link {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 100%;
    font-size: 14px;
    text-transform: uppercase;
    border: 2px solid transparent;
    overflow: hidden;

    &:hover {
        background-color: $grey;
        color: #fff;
    }
}

.main-nav__item--active .main-nav__link {
    background-color: $grey;
    color: #fff;
}

@media(max-width: $desktop-width) {
    .main-nav__wrapper {
        width: 730px;
    }

    // .main-nav__link {
    //     padding: 5px 5px;
    // }
}

@media(max-width: $tablet-width) {
    .main-nav__wrapper {
        width: 100%;
    }

    // .main-nav__list {
    //     display: block;
    // }
}
