.main-nav {
    background-color: #fff;
}

.main-nav__wrapper {
    width: 960px;
    margin: 15px auto;
    padding: 0 10px;
}

.main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.main-nav__item {
    margin-right: 5px;

    &:last-child {
        margin-right: 0;
    }
}

.main-nav__link {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    height: 100%;
    font-size: 14px;
    text-transform: uppercase;
    border: 2px solid transparent;
    overflow: hidden;

    &:hover {
        background-color: #4d4d4d;
        color: #fff;
    }
}

.main-nav__item--active .main-nav__link {
    background-color: #4d4d4d;
    color: #fff;
}
