.page-main {
    display: flex;
    flex-direction: column;
    height: calc(100vh - #{$nav-height} - #{$footer-height});
    background-image: url('../img/bg-header.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}
