.page-header {
    height: $header-height;
    background-color: $header-color;
}   

.page-header__upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $header-upper-height;
}

.page-header__logo {
    font-size: 20px;
    text-transform: uppercase;
}

@media(max-width: $w600) {
    .contacts.page-header__contacts {
        display: none;
    }    
}
