.promo {
    display: flex;
    width: 50%;
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.9);
}

.promo__wrapper {
    margin: auto;
    width: 500px;
    color: #fff;
}

.promo__title {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.promo__text {
    color: #ccc;
    font-size: 18px;
    margin-bottom: 10px;
}
