.promo {
    display: flex;
    width: 50%;
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.9);
}

.promo__wrapper {
    margin: auto;
    width: 450px;
    color: #fff;
}

.promo__title {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.promo__text {
    color: #ccc;
    font-size: 18px;
    margin-bottom: 10px;
}

@media(max-width: $desktop-width) {
    .promo {
        width: 100%;
    }

    .promo__wrapper {
        width: 500px;
    }
}

@media(max-width: $tablet-width) {
    .promo__wrapper {
        width: 90%;
    }
}

@media(max-width: 450px) {
    .promo__title {
        font-size: 26px;
    }
    .promo__text {
        font-size: 18px;
        text-align: center;
    }
}
