* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.page-content {
    flex-grow: 1;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

section {
    padding: 10px 10px;
}

.main-title {
    position: relative;
    font-size: 26px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: $dark-grey;

    &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 100%;
        height: 3px;
        background-color: $dark-grey;
    }
}

.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-transform: uppercase;
    padding: 10px 0;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        height: 2px;
        background-color: $dark-grey;
        z-index: 1;
    }

    span {
        background-color: #fff;
        padding: 10px;
        z-index: 2;
    }

    &--white {
        &:before {
            background-color: #fff;
        }
        span {
            color: #fff;
            background-color: $grey;
        }
    }
}
