@import 'variables.scss';
@import 'mixins.scss';
@import 'scaffolding.scss';

@import 'blocks/main-nav.scss';
@import 'blocks/promo.scss';
@import 'blocks/page-footer.scss';
@import 'blocks/button-main.scss';
@import 'blocks/main-main-page.scss';
@import 'blocks/activities.scss';
@import 'blocks/about.scss';
@import 'blocks/licenses.scss';
@import 'blocks/modal.scss';
@import 'blocks/partners.scss';
