$desktop-width: 980px;
$tablet-width: 767px;
$w600: 600px;

$header-height: 80px;
$header-upper-height: 40px;
$nav-height: 40px;
$footer-height: 50px;

$button-color: #ffd658;
$button-color--hover: #ffc000;
$button-color--active: #a88824;

$header-color: #ffc950;
$section-gray: #ebebeb;

// colors
$light-gray: #fafafa;
$dark-gray: #242424;